
/* Default  */
@import url("../../../../css2.css");
@import url("../../../../css2-1.css");
:root {
  --color-primary: #ff014f;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #f9004d;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #282321;
  --shadow-1: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --color-heading: #ffffff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-border: #E6E6E6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.50;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px; }

* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }

body {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-primary);
  color: var(--color-body);
  font-weight: var(--p-regular); }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
      overflow: hidden; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      overflow: hidden; } }
  @media only screen and (max-width: 767px) {
    body {
      overflow: hidden; } }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
menu,
ol,
ul,
table,
hr {
  margin: 0;
  margin-bottom: 20px;
   }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.4074;
  color: var(--color-heading); }

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1.19;
  font-weight: 700; }

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.23; }

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.14; }

h4,
.h4 {
  font-size: var(--h4);
  line-height: 1.25; }

h5,
.h5 {
  font-size: var(--h5);
  line-height: 1.24; }

h6,
.h6 {
  font-size: var(--h6);
  line-height: 1.25; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit; }

.bg-color-tertiary h1,
.bg-color-tertiary h2,
.bg-color-tertiary h3,
.bg-color-tertiary h4,
.bg-color-tertiary h5,
.bg-color-tertiary h6,
.bg-color-tertiary .h1,
.bg-color-tertiary .h2,
.bg-color-tertiary .h3,
.bg-color-tertiary .h4,
.bg-color-tertiary .h5,
.bg-color-tertiary .h6 {
  color: #fff; }

.bg-color-tertiary p {
  color: #6c7279; }

.bg-color-tertiary a {
  color: #6c7279; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 38px; }
  h2,
  .h2 {
    font-size: 32px; }
  h3,
  .h3 {
    font-size: 28px; }
  h4,
  .h4 {
    font-size: 24px; }
  h5,
  .h5 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 34px; }
  h2,
  .h2 {
    font-size: 28px; }
  h3,
  .h3 {
    font-size: 24px; }
  h4,
  .h4 {
    font-size: 20px; }
  h5,
  .h5 {
    font-size: 16px; } }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--s-bold); }

h4,
.h4,
h5,
.h5 {
  font-weight: var(--s-bold); }

h6,
.h6 {
  font-weight: var(--s-bold); }

p {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  font-weight: var(--p-regular);
  color: var(--color-body);
  margin: 0 0 40px; }
  p.b1 {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1); }
  p.b3 {
    font-size: var(--font-size-b3);
    line-height: var(--line-height-b3); }
  @media only screen and (max-width: 767px) {
    p {
      margin: 0 0 20px;
      font-size: var(--font-size-b2);
      line-height: var(--line-height-b2); } }
  p.has-large-font-size {
    line-height: 1.5;
    font-size: 36px; }
  p.has-medium-font-size {
    font-size: 24px;
    line-height: 36px; }
  p.has-small-font-size {
    font-size: 13px; }
  p.has-very-light-gray-color {
    color: var(--color-white); }
  p.has-background {
    padding: 20px 30px; }
  p.b1 {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1); }
  p.b2 {
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2); }
  p.b3 {
    font-size: var(--font-size-b3);
    line-height: var(--line-height-b3); }
  p:last-child {
    margin-bottom: 0; }

.b1 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1); }

.b2 {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2); }

.b3 {
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3); }

.b4 {
  font-size: var(--font-size-b4);
  line-height: var(--line-height-b4); }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 20px;
  width: 100%; }

table a,
table a:link,
table a:visited {
  text-decoration: none; }

cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-quote cite {
  color: var(--color-heading); }

var {
  font-family: 'Poppins', sans-serif; }

/*---------------------------
	List Style 
---------------------------*/
ul,
ol {
  padding-left: 18px; }

ul {
  list-style: square;
  margin-bottom: 30px;
  padding-left: 20px; }
  ul.liststyle.bullet li {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-body);
    position: relative;
    padding-left: 30px; }
    @media only screen and (max-width: 767px) {
      ul.liststyle.bullet li {
        padding-left: 19px; } }
    ul.liststyle.bullet li::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: var(--color-body);
      left: 0;
      top: 10px; }
    ul.liststyle.bullet li + li {
      margin-top: 8px; }
  ul li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-body); }
    ul li a {
      text-decoration: none;
      color: var(--color-gray); }
      ul li a:hover {
        color: var(--color-primary); }
  ul ul {
    margin-bottom: 0; }

ol {
  margin-bottom: 30px; }
  ol li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    color: var(--color-body);
    margin-top: 10px;
    margin-bottom: 10px; }
    ol li a {
      color: var(--color-heading);
      text-decoration: none; }
      ol li a:hover {
        color: var(--color-primary); }
  ol ul {
    padding-left: 30px; }

/*=========================
    Section Separation 
==========================*/
.slick-dotted.slick-slider {
  margin-bottom: 0; }

.mb_dec--25 {
  margin-bottom: -25px; }

.mb_dec--30 {
  margin-bottom: -30px; }

.m--0 {
  margin: 0; }

.rn-section-gap {
  padding: 100px 0; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rn-section-gap {
      padding: 80px 0; } }
  @media only screen and (max-width: 767px) {
    .rn-section-gap {
      padding: 80px 0; } }

.rn-section-gapBottom {
  padding-bottom: 100px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rn-section-gapBottom {
      padding-bottom: 80px; } }
  @media only screen and (max-width: 767px) {
    .rn-section-gapBottom {
      padding-bottom: 80px; } }

.rn-section-gapTop {
  padding-top: 100px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rn-section-gapTop {
      padding-top: 80px; } }
  @media only screen and (max-width: 767px) {
    .rn-section-gapTop {
      padding-top: 80px; } }




/* Header  */
/*---------------------------
    Header Area Styles 
-----------------------------*/
body.template-color-1 {
  background-color: #030898; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  position: relative; }

.nav-pills .nav-link {
  margin: .5rem 1rem;
  padding: 0; }

.header-wrapper {
  height: 122px;
  padding: 0 64px; }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .header-wrapper {
      padding: 0 30px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-wrapper {
      padding: 0 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-wrapper {
      padding: 0 30px; } }
  @media only screen and (max-width: 767px) {
    .header-wrapper {
      padding: 0 20px;
      height: 80px; } }
  @media only screen and (max-width: 575px) {
    .header-wrapper {
      padding: 0 3px; } }
  @media only screen and (max-width: 479px) {
    .header-wrapper {
      padding: 0; } }
  .header-wrapper .header-left {
    flex-basis: 20%;
    justify-content: flex-start;
    display: flex; }
  .header-wrapper .header-center {
    flex-basis: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center; }
  .header-wrapper .header-right {
    margin-left: 30px;
    justify-content: flex-end;
    display: flex;
    margin-right: -18px; }
    @media only screen and (max-width: 575px) {
      .header-wrapper .header-right a.rn-btn {
        font-size: 14px;
        padding: 17px 19px;
        line-height: 21px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1599px) {
      .header-wrapper .header-right a.rn-btn {
        font-size: 13px;
        padding: 17px 19px;
        line-height: 21px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-wrapper .header-right a.rn-btn {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-wrapper .header-right a.rn-btn {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .header-wrapper .header-right a.rn-btn {
        display: none; } }
    .header-wrapper .header-right i {
      z-index: 800;
      color: var(--color-primary);
      font-size: 36px;
      position: relative;
      transition: 0.5s;
      top: 2px; }

@media only screen and (max-width: 1199px) {
  #sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 999;
    transition: .7s;
    display: flex;
    opacity: 1; } }
  @media only screen and (max-width: 1199px) and (min-width: 992px) and (max-width: 1199px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (min-width: 768px) and (max-width: 991px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (max-width: 767px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (max-width: 575px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (max-width: 479px) {
    #sideNav {
      display: inline-block; } }

@media only screen and (max-width: 1199px) {
    #sideNav ul li {
      list-style: none;
      margin: 50px 20px;
      display: block; }
      #sideNav ul li a {
        text-decoration: none;
        color: var(--color-white);
        display: inline-block;
        font-size: 16px;
        font-weight: 400; } }

.home-sticky .rn-header.header--fixed.sticky {
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  backdrop-filter: none;
  top: 0; }

.home-sticky .sticky .header-wrapper {
  height: 90px;
  border-bottom: none; }

.home-sticky .header-wrapper .header-right a.rn-btn {
  display: none; }

.home-sticky .header-wrapper .header-right i.feather-menu {
  display: block;
  margin-top: -10px;
  cursor: pointer; }

.home-sticky .rn-header .header-wrapper.menu-open .close-menu {
  opacity: 1;
  z-index: 99999;
  visibility: visible;
  color: var(--color-primary);
  font-size: 36px;
  margin-bottom: 15px;
  position: inherit;
  transition: .7s;
  cursor: pointer; }

.home-sticky .rn-header .header-wrapper.menu-open #sideNav {
  right: 0 !important; }

.home-sticky #sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  background: #191b1e;
  box-shadow: none;
  right: -250px;
  top: 0;
  z-index: 999;
  transition: .7s;
  display: flex;
  opacity: 1; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 767px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 575px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 479px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  .home-sticky #sideNav ul {
    display: block;
    margin-top: 54px;
    margin-left: 30px; }
    .home-sticky #sideNav ul li {
      list-style: none;
      margin: 50px 20px;
      display: block; }
      .home-sticky #sideNav ul li a {
        text-decoration: none;
        color: var(--color-white);
        display: inline-block;
        font-size: 16px;
        font-weight: 400; }

.rn-header.header--sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

.rn-header.header--fixed {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s; }
  .rn-header.header--fixed.rn-d-none {
    display: none; }
  .rn-header.header--fixed.sticky {
    display: block; }

.rn-header.header--fixed.sticky {
  background-color: #212428de;
  box-shadow: var(--shadow-1);
  position: fixed;
  backdrop-filter: blur(15px);
  top: 0; }

.sticky .header-wrapper {
  height: 90px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sticky .header-wrapper {
      height: 70px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .sticky .header-wrapper {
      height: 70px; } }
  @media only screen and (max-width: 767px) {
    .sticky .header-wrapper {
      height: 70px;
      padding: 0; } }
  .sticky .header-wrapper .logo img {
    max-width: calc(100% - 10%); }

.logo a {
  display: inline-block; }
  .logo a img {
    transition: 0.3s; }
    @media only screen and (max-width: 767px) {
      .logo a img {
        max-height: 54px; } }

@media only screen and (max-width: 1199px) {
  .rn-header .header-wrapper.menu-open #sideNav {
    right: 0 !important; }
  .rn-header .header-wrapper.menu-open .close-menu {
    opacity: 1;
    z-index: 99999;
    visibility: visible;
    color: var(--color-primary);
    font-size: 36px;
    margin-bottom: 15px;
    position: inherit;
    transition: .7s; } }

.close-menu {
  opacity: 0;
  visibility: hidden; }
  .close-menu .closeTrigger i {
    position: relative; }

.left-header-style {
  color: white;
  position: fixed;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  top: 0px;
  width: 290px;
  z-index: 1;
  transform: translateX(0px);
  border-right: 1px solid #121415;
  background: #212428;
  padding: 50px 40px 40px;
  transition: all 0.3s ease-in-out 0s; }
  .left-header-style .logo-area a img {
    border-radius: 50%;
    border: 5px solid #32363b;
    box-shadow: var(--shadow-1); }
  .left-header-style #sideNavs .primary-menu {
    display: block;
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 30px 0 0 10px; }
    .left-header-style #sideNavs .primary-menu li {
      margin: 0; }
      .left-header-style #sideNavs .primary-menu li a {
        display: flex;
        align-items: center;
        border: none;
        font-size: 18px;
        color: var(--color-light);
        border-radius: 10px;
        width: 100%;
        margin-left: 0;
        transition: var(--transition);
        margin: 19px 0;
        font-size: 16px;
        transition: var(--transition); }
        .left-header-style #sideNavs .primary-menu li a:hover {
          color: var(--color-primary); }
        .left-header-style #sideNavs .primary-menu li a.active {
          color: var(--color-primary); }
        .left-header-style #sideNavs .primary-menu li a svg {
          height: 20px;
          width: 20px;
          margin-right: 10px;
          color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
          top: -3px;
          position: relative; }
  .left-header-style .footer .social-share-style-1 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin-top: 40px !important; }

.with-particles {
  position: relative; }

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0; }

.header-style-2 {
  position: absolute;
  top: 0;
  z-index: 99;
  width: auto;
  right: 0;
  padding: 15px 30px;
  left: 0; }
  .header-style-2 .header-right .hamberger-menu i {
    font-size: 32px;
    color: var(--color-primary); }

/* Slider Area Styles */
.rn-slider-area {
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.slide.thumbnail.inner{
  object-position: relative;
  background-position: center;
  margin-top: 30px;
}

/* Content Styles */
.slide .container {
  position: relative;
  z-index: 1;
}

.slide .content {
  max-width: 650px; /* Adjust content max-width as needed */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slide .subtitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.slide .title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

.slide .header-caption {
  display: block;
}

.slide .cd-words-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide .cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

.slide .cd-words-wrapper .is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: opacity 0.7s, visibility 0.7s, transform 0.7s;
}

.slide .description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.slide .social-share-inner-left {
  text-align: left;
}

.slide .social-share-inner-left .title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.slide .social-share-inner-left .social-share {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide .social-share-inner-left .social-share li {
  display: inline-block;
  margin-right: 10px;
}

.slide .social-share-inner-left .social-share li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.slide .social-share-inner-left .social-share li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Thumbnail Styles */
.slide .thumbnail {
  position: relative;
}

.slide .thumbnail .inner {
  display: block;
  position: relative;
}

.slide .thumbnail img {
  display: block;
  width: 100%;
  height: 500px ;
  margin-top: 200px;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .slide .content {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .slide .title {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .slide .subtitle {
    font-size: 16px;
  }
  .slide .title {
    font-size: 32px;
  }
  .slide .description {
    font-size: 16px;
  }
  .slide .social-share-inner-left .title {
    font-size: 16px;
  }
}





/*=====================
    Skill Area 
========================*/
@media only screen and (max-width: 479px) {
  .section-title.text-center span.subtitle {
    padding: 0 20px; } }

@media only screen and (max-width: 767px) {
  .section-title.text-center span.subtitle {
    margin-bottom: 10px; } }

.section-title span.subtitle {
  color: var(--color-subtitle);
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 575px) {
    .section-title span.subtitle {
      text-align: center; } }
  @media only screen and (max-width: 479px) {
    .section-title span.subtitle {
      line-height: 24px;
      letter-spacing: 1px;
      text-align: center; } }

.rn-nav-list {
  border: 0 none;
  border-radius: 10px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  justify-content: space-between; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rn-nav-list {
      margin-top: 0; } }
  @media only screen and (max-width: 767px) {
    .rn-nav-list {
      margin-top: 0; } }
  @media only screen and (max-width: 575px) {
    .rn-nav-list {
      margin-top: 0; } }
  .rn-nav-list .nav-item {
    flex-basis: 30%;
    text-align: center;
    margin-top: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .rn-nav-list .nav-item {
        flex-basis: 25%; } }
    @media only screen and (max-width: 767px) {
      .rn-nav-list .nav-item {
        flex-basis: 100%; } }
    @media only screen and (max-width: 575px) {
      .rn-nav-list .nav-item {
        flex-basis: 100%; } }
    @media only screen and (max-width: 479px) {
      .rn-nav-list .nav-item {
        flex-basis: 100%; } }
    .rn-nav-list .nav-item .nav-link {
      color: #c4cfde;
      font-family: var(--font-primary);
      padding: 30px 10px;
      text-transform: capitalize;
      font-size: var(--font-size-b1);
      font-weight: 500;
      outline: none;
      border: 0 none;
      transition: all .5s;
      background: transparent;
      border-radius: 10px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .rn-nav-list .nav-item .nav-link {
          padding: 25px 7px;
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .rn-nav-list .nav-item .nav-link {
          padding: 30px 6px;
          padding: 18px 6px;
          font-size: 13px; } }
      @media only screen and (max-width: 767px) {
        .rn-nav-list .nav-item .nav-link {
          font-size: 18px; } }
      .rn-nav-list .nav-item .nav-link:hover, .rn-nav-list .nav-item .nav-link.active {
        color: #ff014f;
        background-color: transparent;
        border-color: transparent;
        border: 0 none;
        background: var(--background-color-1);
        box-shadow: var(--shadow-1); }

.personal-experience-inner .content span.subtitle {
  color: var(--color-subtitle);
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500; }

.personal-experience-inner .content .maintitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 62px;
  color: var(--color-lightn); }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .personal-experience-inner .content .maintitle {
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .personal-experience-inner .content .maintitle {
      font-size: 30px; } }
  @media only screen and (max-width: 479px) {
    .personal-experience-inner .content .maintitle {
      font-size: 24px; } }

.personal-experience-inner .experience-list {
  padding-left: 31px;
  border-left: 5px solid #17191c; }
  @media only screen and (max-width: 767px) {
    .personal-experience-inner .experience-list {
      padding-left: 27px; } }
  @media only screen and (max-width: 479px) {
    .personal-experience-inner .experience-list {
      padding-left: 14px; } }
  .personal-experience-inner .experience-list .resume-single-list {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    padding: 45px 40px;
    border-radius: 6px;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    transition: var(--transition); }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .personal-experience-inner .experience-list .resume-single-list {
        padding: 30px 25px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .personal-experience-inner .experience-list .resume-single-list {
        padding: 30px; } }
    @media only screen and (max-width: 575px) {
      .personal-experience-inner .experience-list .resume-single-list {
        margin-top: 30px; } }
    @media only screen and (max-width: 479px) {
      .personal-experience-inner .experience-list .resume-single-list {
        padding: 20px; } }
    .personal-experience-inner .experience-list .resume-single-list::before {
      content: '';
      position: absolute;
      transition: var(--transition);
      width: 100%;
      height: 100%;
      border-radius: 6px;
      top: 0;
      left: 0;
      background: linear-gradient(to right bottom, #212428, #16181c);
      opacity: 0;
      z-index: -1; }
    .personal-experience-inner .experience-list .resume-single-list .inner::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border: 5px solid #17191c;
      border-radius: 100%;
      right: 104%;
      top: 55px;
      transform: translateY(-7px);
      background: #222529;
      transition: var(--transition); }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .personal-experience-inner .experience-list .resume-single-list .inner::after {
          right: 106%; } }
      @media only screen and (max-width: 479px) {
        .personal-experience-inner .experience-list .resume-single-list .inner::after {
          right: 102%; } }
    .personal-experience-inner .experience-list .resume-single-list .inner::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 5px;
      right: 100%;
      top: 63px;
      transform: translateY(-7px);
      background: #1b1c1d;
      z-index: 0; }
      @media only screen and (max-width: 479px) {
        .personal-experience-inner .experience-list .resume-single-list .inner::before {
          width: 15px; } }
    .personal-experience-inner .experience-list .resume-single-list .inner .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #1a1d23;
      padding-bottom: 20px;
      margin-bottom: 20px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .personal-experience-inner .experience-list .resume-single-list .inner .heading {
          display: block; } }
      @media only screen and (max-width: 767px) {
        .personal-experience-inner .experience-list .resume-single-list .inner .heading {
          display: block; } }
      .personal-experience-inner .experience-list .resume-single-list .inner .heading .title {
        margin-bottom: 15px; }
        .personal-experience-inner .experience-list .resume-single-list .inner .heading .title h4 {
          color: var(--color-lightn);
          font-family: var(--font-primary);
          font-size: 24px;
          line-height: 39px;
          margin-bottom: 7px;
          font-weight: 500;
          transition: var(--transition); }
          @media only screen and (max-width: 479px) {
            .personal-experience-inner .experience-list .resume-single-list .inner .heading .title h4 {
              font-size: 21px;
              line-height: 34px; } }
        .personal-experience-inner .experience-list .resume-single-list .inner .heading .title span {
          color: #d50f15;
          display: block;
          font-size: 14px; }
      .personal-experience-inner .experience-list .resume-single-list .inner .heading .date-of-time {
        display: inline-block; }
        .personal-experience-inner .experience-list .resume-single-list .inner .heading .date-of-time span {
          color: var(--color-primary);
          display: block;
          font-size: 14px;
          padding: 0 15px;
          height: 36px;
          line-height: 36px;
          border-radius: 6px;
          background: var(--background-color-1);
          box-shadow: var(--shadow-1);
          transition: var(--transition);
          font-weight: 500; }
    .personal-experience-inner .experience-list .resume-single-list .inner p {
      font-size: 18px;
      line-height: 28px;
      color: var(--color-body);
      transition: var(--transition); }
    .personal-experience-inner .experience-list .resume-single-list .inner.psudo-after-none::after {
      display: none; }
    .personal-experience-inner .experience-list .resume-single-list .inner.psudo-after-none::before {
      display: none; }
    .personal-experience-inner .experience-list .resume-single-list:hover {
      background: #212427; }
      .personal-experience-inner .experience-list .resume-single-list:hover .inner .heading .title h4 {
        color: var(--color-white); }
      .personal-experience-inner .experience-list .resume-single-list:hover .inner .heading .date-of-time span {
        background: #1e2025;
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #222527; }
      .personal-experience-inner .experience-list .resume-single-list:hover .inner .description {
        color: var(--color-lightn); }
      .personal-experience-inner .experience-list .resume-single-list:hover .inner::after {
        background: var(--color-primary); }
      .personal-experience-inner .experience-list .resume-single-list:hover::before {
        opacity: 1; }

.experience-style-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  margin: 40px auto 0;
  width: 90%; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .experience-style-two {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .experience-style-two {
      display: block;
      padding: 20px; } }
  .experience-style-two .experience-image {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    transition: var(--transition);
    overflow: hidden; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .experience-style-two .experience-image {
        flex-basis: 50%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .experience-style-two .experience-image {
        max-width: 100%; } }
    @media only screen and (max-width: 767px) {
      .experience-style-two .experience-image {
        max-width: 100%; } }
    .experience-style-two .experience-image img {
      border-radius: 8px;
      transition: var(--transition); }
    .experience-style-two .experience-image:hover img {
      transform: scale(1.05); }
  .experience-style-two .experience-left {
    display: flex;
    align-items: center;
    flex-basis: 80%;
    flex-wrap: wrap; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .experience-style-two .experience-left {
        flex-basis: 70%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .experience-style-two .experience-left {
        display: block; } }
    @media only screen and (max-width: 767px) {
      .experience-style-two .experience-left {
        display: block; } }
  .experience-style-two .experience-center {
    padding-left: 30px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .experience-style-two .experience-center {
        padding-left: 20px;
        flex-basis: 50%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .experience-style-two .experience-center {
        padding-left: 0;
        padding-top: 25px; } }
    @media only screen and (max-width: 767px) {
      .experience-style-two .experience-center {
        padding-left: 0;
        padding-top: 25px; } }
    .experience-style-two .experience-center .date {
      padding: 2px 8px;
      border-radius: 20px;
      background-color: #545961;
      font-size: 14px;
      color: var(--color-lightn); }
    .experience-style-two .experience-center .experience-title {
      margin-top: 10px;
      font-size: 26px;
      color: var(--color-lightn);
      font-weight: 500; }
      @media only screen and (max-width: 575px) {
        .experience-style-two .experience-center .experience-title {
          font-size: 22px;
          margin-bottom: 10px; } }
    .experience-style-two .experience-center .subtitle {
      margin-top: 15px;
      font-size: 20px;
      color: var(--color-lightn);
      font-weight: 400;
      margin-bottom: 7px;
      line-height: 1.4; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .experience-style-two .experience-center .subtitle {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .experience-style-two .experience-center .subtitle {
          margin-top: 10px;
          font-size: 16px;
          margin-bottom: 6px;
          line-height: 1.5; } }
    .experience-style-two .experience-center .disc {
      font-size: 16px;
      color: var(--color-body); }
  .experience-style-two .experience-right {
    flex-basis: 20%;
    text-align: right; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .experience-style-two .experience-right {
        flex-basis: 30%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .experience-style-two .experience-right {
        text-align: left; } }
    @media only screen and (max-width: 767px) {
      .experience-style-two .experience-right {
        text-align: left; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .experience-style-two .experience-footer {
      flex-basis: 22%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .experience-style-two .experience-footer {
      margin-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .experience-style-two .experience-footer {
      margin-top: 20px; } }

/*=========================
    Progress Bar Styles 
==========================*/
.progress-charts {
  overflow: hidden; }
  .progress-charts + .progress-charts {
    margin-top: 30px; }
  .progress-charts h6.heading {
    margin-bottom: 15px;
    color: #c3cedd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9;
    font-weight: 400; }
    .progress-charts h6.heading span.percent-label {
      color: #c3cedd;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      opacity: 0.9;
      font-weight: 400; }
  .progress-charts .progress {
    height: 13px;
    overflow: visible;
    font-size: 14px;
    border-radius: 10px;
    padding: 3px;
    background: #212428;
    box-shadow: inset 8px 8px 16px #00000075, 
 inset -8px -8px 16px #383e4575; }
    .progress-charts .progress .progress-bar {
      overflow: visible;
      position: relative;
      border-radius: 14px;
      background: #f02981;
      background: linear-gradient(145deg, #f02981 0%, #c81901 100%); }
      .progress-charts .progress .progress-bar span.percent-label {
        position: absolute;
        right: -7px;
        top: -22px;
        font-weight: 400;
        color: #c3cedd;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.9; }